
html,body, #table-wrapper {
  border:1px dotted green; 
  width:100%;
  height: 100%;
  margin:0;
}

#table-wrapper {
	display: table;
}
.content {
	display: table-row;
	height: 100%;
}
header {
	display: table-row;
}
footer {
	display: table-row;
}


.make-note .panel-body {
  height: 400px;
  overflow-y: scroll; }

