<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/array_checks_and_loops">array_checks_and_loops</a>
    <a href="/array_methods">array_methods()</a>
    <a href="/Object_properties_and_methods">Object_properties_and_methods()</a>
    <a href="/String_methods">String_methods()</a>

    css_staff 
    <a href="/CSS_all_selectors_refference">CSS_all_selectors_refference</a>
    <a href="/click_activated_css3_js_together">click_activated_css3_js_together</a>

    linux_terminal_commands 
    <a href="/terminal_commands_flags">terminal_commands_flags</a>


    git_esential_training_summary
    <a href="/git_esential_training_summary">git_esential_training_summary</a>

    sublime_text3_shortcuts
    <a href="/sublime_text3_shortcuts">sublime_text3_shortcuts</a>


    
    



  </body>
</html>
